## Sorting values on Pandas

Sorting values can help you select data that is most interesting to you.

In [19]:
import pandas as pd
import numpy as np

We've explored two ways to do this using ``for`` loops:
* sorting values from maximum to minimum
* only printing data that is greater/lesser than some set value

I'm going to introduce two functions that would be helpful in getting you there.

**Sort values from maximum to minimum:**

pandas_dataframe.**sort_values**(by, ascending)
* by = name(s) of column to sort
* ascending = True: values will be in ascending order
* ascending = False: values will be in descending order

In [20]:
#Some random data to play around with the function
test_data = pd.DataFrame({'Jan':np.random.rand(50)},index = range(2000, 2050))
test_data.head()

           Jan
2000  0.623572
2001  0.518362
2002  0.060146
2003  0.761430
2004  0.277868

Let's sort the data from lowest to highest with the respect to the Jan column.

In [21]:
test_data.sort_values(by = 'Jan',ascending = True)

           Jan
2002  0.060146
2020  0.076634
2038  0.176356
2023  0.177029
2012  0.191339
2010  0.205817
2018  0.224284
2048  0.227740
2021  0.228275
2043  0.235748
2036  0.256804
2041  0.269651
2004  0.277868
2015  0.289223
2024  0.308183
2017  0.309687
2006  0.313576
2033  0.317332
2022  0.366469
2034  0.386727
2049  0.429507
2005  0.432787
2011  0.450504
2035  0.469144
2031  0.502644
2001  0.518362
2019  0.522359
2028  0.522987
2008  0.571959
2026  0.605530
2045  0.621041
2000  0.623572
2030  0.674860
2039  0.683353
2037  0.692947
2029  0.717595
2027  0.735843
2014  0.746250
2032  0.756637
2003  0.761430
2025  0.780816
2016  0.790128
2044  0.800156
2047  0.813548
2040  0.846442
2009  0.848633
2046  0.852479
2013  0.891415
2042  0.930755
2007  0.967818

Now, sort the data from highest to lowest.

In [22]:
test_data.sort_values(by = 'Jan',ascending = False)

           Jan
2007  0.967818
2042  0.930755
2013  0.891415
2046  0.852479
2009  0.848633
2040  0.846442
2047  0.813548
2044  0.800156
2016  0.790128
2025  0.780816
2003  0.761430
2032  0.756637
2014  0.746250
2027  0.735843
2029  0.717595
2037  0.692947
2039  0.683353
2030  0.674860
2000  0.623572
2045  0.621041
2026  0.605530
2008  0.571959
2028  0.522987
2019  0.522359
2001  0.518362
2031  0.502644
2035  0.469144
2011  0.450504
2005  0.432787
2049  0.429507
2034  0.386727
2022  0.366469
2033  0.317332
2006  0.313576
2017  0.309687
2024  0.308183
2015  0.289223
2004  0.277868
2041  0.269651
2036  0.256804
2043  0.235748
2021  0.228275
2048  0.227740
2018  0.224284
2010  0.205817
2012  0.191339
2023  0.177029
2038  0.176356
2020  0.076634
2002  0.060146

**Find all values that meet some condition:**

pandas_dataframe.**where**(cond)
* cond: save all values that meet the condition and replaces others with NaN

Say we want all values that are greater than 0.5

So, our condition is: ``all values >= 0.5``

In [23]:
cond = test_data >= 0.5
test_data.where(cond)

           Jan
2000  0.623572
2001  0.518362
2002       NaN
2003  0.761430
2004       NaN
2005       NaN
2006       NaN
2007  0.967818
2008  0.571959
2009  0.848633
2010       NaN
2011       NaN
2012       NaN
2013  0.891415
2014  0.746250
2015       NaN
2016  0.790128
2017       NaN
2018       NaN
2019  0.522359
2020       NaN
2021       NaN
2022       NaN
2023       NaN
2024       NaN
2025  0.780816
2026  0.605530
2027  0.735843
2028  0.522987
2029  0.717595
2030  0.674860
2031  0.502644
2032  0.756637
2033       NaN
2034       NaN
2035       NaN
2036       NaN
2037  0.692947
2038       NaN
2039  0.683353
2040  0.846442
2041       NaN
2042  0.930755
2043       NaN
2044  0.800156
2045  0.621041
2046  0.852479
2047  0.813548
2048       NaN
2049       NaN

Set a new condition to apply to the test data.

In [25]:
cond = test_data == 0.518362
test_data.where(cond)

      Jan
2000  NaN
2001  NaN
2002  NaN
2003  NaN
2004  NaN
2005  NaN
2006  NaN
2007  NaN
2008  NaN
2009  NaN
2010  NaN
2011  NaN
2012  NaN
2013  NaN
2014  NaN
2015  NaN
2016  NaN
2017  NaN
2018  NaN
2019  NaN
2020  NaN
2021  NaN
2022  NaN
2023  NaN
2024  NaN
2025  NaN
2026  NaN
2027  NaN
2028  NaN
2029  NaN
2030  NaN
2031  NaN
2032  NaN
2033  NaN
2034  NaN
2035  NaN
2036  NaN
2037  NaN
2038  NaN
2039  NaN
2040  NaN
2041  NaN
2042  NaN
2043  NaN
2044  NaN
2045  NaN
2046  NaN
2047  NaN
2048  NaN
2049  NaN

### Return to the pandas review notebook (*pandas_review_name.ipynb*) and test out these functions on your ENSO index!